# Typesense Configuration
# Admin key — used for indexing only, never expose to client
TYPESENSE_HOST=vq7g5fjoalr9hk4xp-1.a2.typesense.net
TYPESENSE_PORT=443
TYPESENSE_PROTOCOL=https
TYPESENSE_ADMIN_API_KEY=6iCIcPRFTyciCs6p9n0DcAWOuEaWd8Rp

# Public keys — safe for client-side search
NEXT_PUBLIC_TYPESENSE_SEARCH_KEY=S3BqdBTSGD20AHjMpUKnYh8uGpAZsvxt
NEXT_PUBLIC_TYPESENSE_HOST=vq7g5fjoalr9hk4xp-1.a2.typesense.net
NEXT_PUBLIC_TYPESENSE_PORT=443
NEXT_PUBLIC_TYPESENSE_PROTOCOL=https
