---
title: "AFFTC overview of orbiter-reentry flight-test results"
slug: "afftc-overview-of-orbiter-reentry-flight-test-results"
program: "Space Shuttle"
category: "Conference Paper"
tags: ["Space Transportation"]
year: 2016
excerpt: "The Air Force Flight Test Center (AFFTC) has been participating in the flight testing of the Space Shuttle since 1976. An independent assessment of the reentry and landing capabilities of the Orbiter"
authors: ["Hoey, R. G."]
center: "Legacy CDMS"
ntrs_id: 19840002102
pdf_url: "https://ntrs.nasa.gov/api/citations/19840002102/downloads/19840002102.pdf"
---

The Air Force Flight Test Center (AFFTC) has been participating in the flight testing of the Space Shuttle since 1976. An independent assessment of the reentry and landing capabilities of the Orbiter was conducted with respect to Department of Defense (DOD) missions. This activity is on-going and reports have been published after each flight. AFFTC participation in this conference is not directly related to the DOD assessment activity, however, and the views presented by myself and other AFFTC authors discuss the technical aspects of testing and the technology emanating from these tests.
